<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Upload</title>
</head>

<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="">File</label>
        <input type="file" name="imgupload" id="file" accept="image/x-png,image/gif,image/jpeg">
        <button>Upload</button>
    </form>
</body>

</html>